.kontak h1:nth-child(3) {
  margin-top: 3rem;
}

.kontak ul li {
  display: flex;
  height: fit-content;
  align-items: center;
  font-size: 1.3rem;
}

.kontak ul li i {
  margin-right: 5px;
}