#beritaContent {
  place-items: center;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  align-items: start;
  border: 3px solid var(--main-color);
  padding: 2rem;
  border-radius: 10px;
}

.berita-card {
  cursor: pointer;
  width: 90%;
  margin-bottom: 2rem;
}

.berita-card::after {
  content: "";
  cursor: default;
  position: absolute;
  height: 3px;
  border-bottom: 3px dotted var(--main-color);
  width: 100%;
  left: 0;
  bottom: -1rem;
}

#beritaKeterangan {
  display: flex;
  height: fit-content;
  margin: 0.3rem 0 0.3rem 0;
  width: fit-content;
  color: black;
  font-size: 1.3rem;
}

#beritaJudul {
  font-weight: bold;
  font-size: 1.7rem;
  width: 100%;
  color: var(--main-color);
  text-align: left;
}

@media (max-width: 850px) {
  /* * Berita */

  #beritaContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border: 3px solid var(--main-color);
    padding: 2rem;
    border-radius: 10px;
  }

  .berita-card {
    width: 100%;
  }

  #beritaKeterangan {
    margin: 0.5rem 0 0.3rem 0;
    font-size: 1rem;
  }

  #beritaJudul {
    font-size: 1.4rem;
    width: 80vw;
  }

  /* * End Berita */
}
