#beritaContent {
  place-items: center;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  align-items: start;
  border: 3px solid var(--main-color);
  padding: 2rem 1rem;
}

.berita-card {
  cursor: pointer;
  border-bottom: 2px dotted var(--main-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  width: min-content;
}

#beritaKeterangan {
  margin: 0.3rem 0 0.3rem 0;
  width: fit-content;
  color: black;
  font-size: 1rem;
}

#beritaJudul {
  font-weight: bold;
  font-size: 1.2rem;
  width: 28vw;
  color: var(--main-color);
  text-align: left;
}

@media (max-width: 720px) {

  /* * Berita */

  #beritaContent {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .berita-card {
    width: 80vw;
  }

  #beritaKeterangan {
    margin: 0.5rem 0 0.3rem 0;
  }

  #beritaJudul {
    width: 80vw;
  }

  /* * End Berita */

}
