#kontenDetailBerita {
  width: 100%;
}

#kontenDetailBerita .keterangan {
  height: fit-content;
}

#beritaDetailJudul {
  text-align: left;
  font-size: 2.3rem;
  color: var(--main-color);
}

#beritaDetailKeterangan {
  margin: 0.3rem 0 1rem 0;
  color: black;
  font-size: 1.2rem;
  display: flex;
  height: fit-content;
  align-items: center;
}

#beritaDetailIsi {
  font-size: 1.2rem;
  width: 90%;
}

#beritaDetailIsi img {
  width: 60%;
  margin: 1rem 0;
}

#beritaDetailIsi p {
  text-indent: 10px;
  text-align: justify;
}

.main-content {
  padding: 2rem 2rem 5rem 2rem;
  display: flex;
  margin-top: 12vh;
  width: 100vw;
  min-height: 88vh;
  align-items: start;
  justify-content: space-evenly;
}

/*  */

.list-berita {
  border: 3px solid var(--main-color);
  height: fit-content;
  width: fit-content;
  padding: 1rem;
  border-radius: 5px;
}

.list-berita h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.berita-card {
  cursor: pointer;
  border-bottom: 2px dotted var(--main-color);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#beritaJudul {
  color: var(--main-color);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

#beritaKeterangan {
  display: flex;
    height: fit-content;
    align-items: center;
  font-size: 1rem;
  color: black;
}

@media (max-width: 850px) {
  .main-content {
    margin-top: 9vh;
    flex-direction: column;
  }

  #kontenDetailBerita {
    width: 100%;
    min-height: 50vh;
  }

  #beritaDetailJudul {
    font-size: 1.6rem;
    color: var(--main-color);
  }

  #beritaDetailKeterangan {
    margin: 0.3rem 0 1rem 0;
    color: black;
    font-size: 1rem;
  }

  #beritaDetailIsi {
    font-size: 1rem;
    width: 100%;
  }


  /*  */

  .list-berita {
    margin-top: 5rem;
    width: 100%;
  }

  .center-div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
