.news-cat {
    padding: .2rem .7rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    height: fit-content;
    font-size: .7rem;
    margin-left: .5rem;
    font-weight: 500;
    font-weight: bold;
}

/* Kategori */
.pixlog {
    background: linear-gradient(to right, #00544f, #00a58c);
    color: white;
}

.insidepixkyro {
    background: linear-gradient(to right, #6a00ff, #9a32ff);
    color: white;
}

.insight {
    background: linear-gradient(to right, #ff8c00, #ffaa00);
    color: white;
}

.project {
    background: linear-gradient(to right, #b00020, #ff416c);
    color: white;
}

.penting {
    background: linear-gradient(to right, #b00000, #ff0000);
    color: white;
}

.event {
    background: linear-gradient(to right, #0066ff, #3399ff);
    color: white;
}

.talks {
    background: linear-gradient(to right, #9c27b0, #d05ce3);
    color: white;
}

.patchnotes {
    background: linear-gradient(to right, #37474f, #607d8b);
    color: white;
}

.kiroopedia {
    background: linear-gradient(to right, #00c853, #64dd17);
    color: white;
}

.pixfeed {
    background: linear-gradient(to right, #0606a5, #0033be);
    color: white;
}
