@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
@import url("https://fonts.googleapis.com/css2?family=poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/background/pattern_pixkyro.png");
  overflow-x: hidden;
}

:root {
  --main-color: #132c4a;
  --second-color: #0096ec;
  --navbar-color: #333;
  --bg-color: #eef0f2;
  --text-color-light: rgb(248, 248, 248);
  --text-color-dark: #3e3e3e;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c3f6b;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

.content {
  z-index: 5;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5rem 2rem;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12vh;
  background: linear-gradient(to right, #20599d, #132c4a);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  width: 100px;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  margin-left: 5vw;
  transition: all 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-right: 5vw;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--second-color);
}

#menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--text-color-light);
  display: none;
  margin-right: 3vw;
}

/* Home Section */
.beranda-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12vh;
  height: 88vh;
  text-align: center;
}

.beranda-welcome h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: var(--main-color);
}

.beranda-welcome img {
  height: 20vh;
  margin: 15vh 0;
}

.sosial-media a i {
  color: white;
  background-color: var(--main-color);
  border-radius: 100%;
  font-size: 1.7rem;
  padding: 0.7rem;
  border: 3px solid transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.sosial-media a i:hover {
  background-color: #eef0f2;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  transform: translateY(-15px) scale(1.1);
  box-shadow: 0 0 10px #2768b8;
}

.sosial-media {
  cursor: default;
}

.sosial-media a:nth-child(2) {
  margin: 0 2rem;
}

.beranda-content {
  margin-top: 5rem;
}

.beranda-subjudul {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}

.tentang-singkat p {
  color: #222;
  text-indent: 20px;
  font-size: 1.2rem;
  margin: 1.4rem 0 0.8rem 0;
  width: 70vw;
  text-align: left;
}

.tentang-singkat a {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-color);
}

/* * VISI Misi */
.visi-misi-container h2 {
  font-size: 2.3rem;
  margin-bottom: .5rem;
}

.visi-misi-container {
  width: 70vw;
  margin: 2rem 0 0 1rem;
}

.misi {
  margin-top: 1rem;
}

.visi p, .misi ol {
  font-size: 1.2rem;
  text-align: justify;
  color: #222;
}

.misi ol {
  text-align: justify;
}

.misi ol li {
  margin-bottom: .5rem;
}

/* * End vimi */

/* * Berita */

.berita-content {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.berita-card {
  width: 25vw;
}

#beritaImg {
  cursor: pointer;
  width: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 16/9;
}

#beritaKeterangan {
  margin: .5rem 0 .3rem 0;
}

#beritaJudul {
  width: 25vw;
  text-align: left;
}

/* * End Berita */


/* * Footer */
footer {
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right, #20599d, #132c4a);
    padding: 4rem 3rem;
    display: flex;
}

.contact {
  margin-right: 15rem;
}

.contact img {
  width: 18rem;
}

.contact p {
  margin-top: 1.3rem;
  font-size: 1.2rem;
  color: var(--text-color-light);
  display: flex;
  align-items: center;
}

.contact p i {
  margin-right: 5px;
}

.sosial-media-footer h2 {
  color: var(--text-color-light);
  border-bottom: 2px solid var(--text-color-light);
  margin-bottom: 1.2rem;
  font-size: 2rem;
}

.sosial-media-footer a {
  cursor: default;
}

.sosial-media-footer a p {
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: var(--text-color-light);
  width: fit-content;
  transition: all 0.5s;
}

.sosial-media-footer p:hover {
  color: var(--second-color);
}
