.judul {
  margin-top: 2vh;
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: bold;
}

.main-content {
  min-height: 88vh;
  margin-top: 12vh;
  padding: 1rem 2rem 5rem 2rem;
}

.main-content p {
    margin: 1.2rem 0 3rem 0;
    width: 70vw;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 20px;
}

@media (max-width: 720px) {
  .main-content {
    min-height: 91vh;
    margin-top: 9vh;
  }

  .main-content p {
    width: 100%;
    font-size: 1rem;
    text-align: justify;
    text-indent: 20px;
}
}
